.tweetContainer {
  width: 100%;
}

.articleContainer {
  display: flex;
  border: solid #545149 4px;
  margin-top: 40px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articleHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 0px;
  width: 94%;
}

.articleFirstName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.articleFirstName i {
  color: #545149;
  padding-right: 14px;
  font-size: 48px;
}

h6 {
  width: 94%;
  padding: 32px 0px;
  margin-top: -32px;
  border-bottom: solid #545149 4px;
  font-size: 24px;
  overflow-x: scroll;
}

.articleUsername {
  opacity: 0.5;
  font-weight: bold;
}

.articleFooter {
  margin-top: -48px;
  display: flex;
  justify-content: space-between;
  width: 94%;
}

.articleFooter ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.articleFooter i {
  color: #4056A1;
  padding: 6px;
}

.articleContainer:hover {
  box-shadow: 10px 4px 4px gainsboro;
}

.articleFooter i:hover {
  color: goldenrod;
}
